@page "/passwordmanager"
@using NoteManager.Services.PasswordManager
@inject PasswordManagerService PasswordManagerService
<h3>PasswordManager</h3>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}