@page "/passwordmanager"
@using NoteManager.Services.PasswordManager
@inject PasswordManagerService PasswordManagerService
@inject IJSRuntime Runtime;
<h3>PasswordManager</h3>
<input @bind="SearchString"/>
<button @onclick="Click">Click me</button>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private string SearchString { get; set; } = "hello";
}

@functions
{
    private void Click()
    {
        var str = SearchString;
    }
}
